In [16]:
#variables
#creating variables
name='Omsi'
age=19
is_tall=True

#printing variables values
print(name)
print(age)
print(is_tall)

Omsi
19
True

In [17]:
#datatypes
#string
name="omsi"

#interger
age=20

#float
percentage=89.6

#boolean
is_vaild=True

print(name,age,percentage,is_vaild)

omsi 20 89.6 True

In [18]:
#arithemetic operations
a=8
b=5

print("sum",a+b)
print("difference",a-b)
print("product",a*b)
print("division",a/b)
print("modulus",a%b)

sum 13
difference 3
product 40
division 1.6
modulus 3

In [19]:
#loops
#for loop
city=["bbsr","berhampur","delhi","mumbai","hydrabad"]
for x in city:
    print(x)

#while loop
i=5
while i<10:
    print(i)
    i += 1

bbsr
berhampur
delhi
mumbai
hydrabad
5
6
7
8
9

In [20]:
#function
def say(name):
    return "hii," +name

print(say("omsi"))

hii,omsi

In [21]:
#list
my_list=[1,2,3,4,5]
print(my_list)

#accessing elements
print(my_list[1])
print(my_list[4])

#adding elements
my_list.append(8)
print(my_list)

#removing elements
my_list.remove(4)
print(my_list)

#length of the list
print(len(my_list))

[1, 2, 3, 4, 5]
2
5
[1, 2, 3, 4, 5, 8]
[1, 2, 3, 5, 8]
5

In [24]:
#dictionary
my_dict={'name':'omsi',age:20,'city':'berhampur'}
print(my_dict)
print(type(my_dict))
print(len(my_dict))

#add elements
my_dict['gender']='male'
print(my_dict)

#remove elements
my_dict.pop('city')
print(my_dict)

#clear elements
my_dict.clear()
print(my_dict)

{'name': 'omsi', 20: 20, 'city': 'berhampur'}
<class 'dict'>
3
{'name': 'omsi', 20: 20, 'city': 'berhampur', 'gender': 'male'}
{'name': 'omsi', 20: 20, 'gender': 'male'}
{}

In [25]:
#tuple
flowers=("rose","lily","sunflower")
print(flowers)

#check type of tuple
print(type(flowers))

#check length of tuple
print(len(flowers))

#checking accessing item in tuple
print(flowers[1])
print(flowers[-1]) 

#check if a item exist in tuple
if "rose" in flowers:
    print("rose is the part of tuple")

#traverse the tuple
for i in flowers:
    print(i)

('rose', 'lily', 'sunflower')
<class 'tuple'>
3
lily
sunflower
rose is the part of tuple
rose
lily
sunflower

In [26]:
#string manipulation
#string concatenation
message1="hii"
message2="hello"
print(message1+message2)

#replace part of a string
str="hello everyone,good morning"
str=str.replace("morning","evening")
print(str)

#for uppercase
str1="new york"
str1=str1.upper()
print(str1)

#for lowercase
str2="NEW YORK"
str2=str2.lower()
print(str2)

#string indexing
msg="good moring"
print(msg[0])
print(msg[8])

hiihello
hello everyone,good evening
NEW YORK
new york
g
i

In [27]:
#conditional
#if-else
a=5
if(a>2):
    print("good moring")
else:
    print("good evening")
    
#ternary
age=20
my_age="adult" if age>=18 else "minor"
print(my_age)

good moring
adult